In [1]:
import time
import pandas as pd
import numpy as np
import math

# internal tools
from dsgtools.reporting import make_format
from dsgtools.reporting import TableWriter
from dsgtools.reporting import freq
from dsgtools.reporting import bivariate

In [2]:
path = "Analytics/Personal Folders/liuwei01/refresh2101_9999/orig_extract_2018_2019_12mPerf.csv"
orig18_19 = pd.read_adls(path, reader = pd.read_csv, dtype = str)
print(orig18_19.shape)

(5133096, 52)

In [3]:
orig18_19["account_type_reported"] = orig18_19.account_type_reported.str.zfill(3)

In [4]:
orig18_19 = orig18_19[(orig18_19["AnalysisCreditBad"].notnull())]
bivariate(orig18_19["ArchiveDate"], orig18_19["AnalysisCreditBad"].astype(float))

tag         AnalysisCreditBad                                          \
stats                       N      PctN       Sum      Mean       WoE
ArchiveDate
201801               198988.0  0.052968    5390.0  0.027087 -0.204164
201802               179352.0  0.047741    4876.0  0.027187 -0.200388
201803               208430.0  0.055482    5802.0  0.027837 -0.176095
201804               189820.0  0.050528    5379.0  0.028337 -0.157753
201805               189728.0  0.050503    5542.0  0.029210 -0.126517
201806               179330.0  0.047736    5433.0  0.030296 -0.088898
201807               168274.0  0.044793    5538.0  0.032911 -0.003422
201808               184922.0  0.049224    5735.0  0.031013 -0.064768
201809               164256.0  0.043723    5077.0  0.030909 -0.068235
201810               269984.0  0.071867    6546.0  0.024246 -0.317890
201811               201431.0  0.053619    5392.0  0.026768 -0.216323
201812               204955.0  0.054557    6501.0  0.031719 -0.041527
201901               197246.0  0.052505    5527.0  0.028021 -0.169312
201902               175430.0  0.046697    5017.0  0.028598 -0.148319
201903               209874.0  0.055866    5775.0  0.027517 -0.187993
201904               186817.0  0.049728    5730.0  0.030672 -0.076188
201905               176430.0  0.046964    5560.0  0.031514 -0.048231
201906               159576.0  0.042477    5223.0  0.032730 -0.009096
201907               170534.0  0.045394    5287.0  0.031003 -0.065116
201908               116792.0  0.031089    5141.0  0.044018  0.298944
201909                11429.0  0.003042    4351.0  0.380698  2.890488
201910                 5575.0  0.001484    3990.0  0.715695  4.300281
201911                 4132.0  0.001100    2988.0  0.723136  4.337147
201912                 3437.0  0.000915    2246.0  0.653477  4.011432
Missing                   0.0  0.000000       0.0  0.000000  0.000000
Total               3756742.0  1.000000  124046.0  0.033020  0.000000

tag
stats                  IV
ArchiveDate
201801       2.009335e-03
201802       1.747683e-03
201803       1.585942e-03
201804       1.168904e-03
201805       7.623246e-04
201806       3.619789e-04
201807       5.236371e-07
201808       2.003608e-04
201809       1.972132e-04
201810       6.277705e-03
201811       2.270870e-03
201812       9.228103e-05
201901       1.391754e-03
201902       9.590843e-04
201903       1.810139e-03
201904       2.786076e-04
201905       1.068211e-04
201906       3.499745e-06
201907       1.867332e-04
201908       3.201422e-03
201909       9.575362e-02
201910       1.364438e-01
201911       1.031062e-01
201912       7.131626e-02
Missing      0.000000e+00
Total        4.312331e-01

In [5]:
orig18_19 = orig18_19[~orig18_19["ArchiveDate"].isin(['201909', '201910', '201911', '201912'])]
print(orig18_19.shape)

(3732169, 52)

In [6]:
freq("InsufficientBusiness", "InsufficientRep", df = orig18_19, cross = False)

                                          Count       Pct  Cuml Count  \
InsufficientBusiness InsufficientRep
0                    0                1457620.0  0.390556   1457620.0
                     1                2273994.0  0.609296   3731614.0
1                    0                    148.0  0.000040   3731762.0
                     1                    407.0  0.000109   3732169.0

                                      Cuml Pct
InsufficientBusiness InsufficientRep
0                    0                0.390556
                     1                0.999851
1                    0                0.999891
                     1                1.000000

In [7]:
orig18_19 = orig18_19[(orig18_19["InsufficientBusiness"] == '0') & (orig18_19["InsufficientRep"] == '0') & (orig18_19["AnalysisCreditBad"].notnull())]
print(orig18_19.shape)
sample18_19 = orig18_19.sample(25_000, random_state=0)
print(sample18_19.shape)

(1457620, 52)
(25000, 52)

In [8]:
freq(sample18_19.AnalysisCreditBad)

                     Count    Pct  Cuml Count  Cuml Pct
AnalysisCreditBad
0                  24425.0  0.977     24425.0     0.977
1                    575.0  0.023     25000.0     1.000

In [10]:
extract_21 = pd.read_adls('Analytics/Personal Folders/liuwei01/Prj2023/origination_extract_Joe/origination_extract_12M_202101_202112.csv', 
                      reader = pd.read_csv, dtype = str, encoding='iso-8859-1')
print(extract_21.shape)
freq("InsufficientBusiness", "InsufficientRep", "AnalysisCreditBad", df = extract_21, cross = False)

(3618335, 52)

                                                            Count  \
InsufficientBusiness InsufficientRep AnalysisCreditBad
0                    0               0                  1352144.0
                                     1                    23586.0
                                     Missing             107637.0
                     1               0                  1821049.0
                                     1                    75256.0
                                     Missing             238088.0
1                    0               0                      145.0
                                     1                        1.0
                                     Missing                  6.0
                     1               0                      388.0
                                     1                        5.0
                                     Missing                 30.0

                                                                 Pct  \
InsufficientBusiness InsufficientRep AnalysisCreditBad
0                    0               0                  3.736923e-01
                                     1                  6.518468e-03
                                     Missing            2.974766e-02
                     1               0                  5.032837e-01
                                     1                  2.079852e-02
                                     Missing            6.580043e-02
1                    0               0                  4.007368e-05
                                     1                  2.763702e-07
                                     Missing            1.658221e-06
                     1               0                  1.072316e-04
                                     1                  1.381851e-06
                                     Missing            8.291106e-06

                                                        Cuml Count  Cuml Pct
InsufficientBusiness InsufficientRep AnalysisCreditBad
0                    0               0                   1352144.0  0.373692
                                     1                   1375730.0  0.380211
                                     Missing             1483367.0  0.409958
                     1               0                   3304416.0  0.913242
                                     1                   3379672.0  0.934041
                                     Missing             3617760.0  0.999841
1                    0               0                   3617905.0  0.999881
                                     1                   3617906.0  0.999881
                                     Missing             3617912.0  0.999883
                     1               0                   3618300.0  0.999990
                                     1                   3618305.0  0.999992
                                     Missing             3618335.0  1.000000

In [11]:
extract_21 = extract_21[(extract_21["InsufficientBusiness"] == '0') & (extract_21["InsufficientRep"] == '0') & (extract_21["AnalysisCreditBad"].notnull())]
print(extract_21.shape)
sample_21 = extract_21.sample(25_000, random_state=0)
print(sample_21.shape)

(1375730, 52)
(25000, 52)

In [12]:
sbfe = pd.concat([sample18_19, sample_21], ignore_index = False)
print(sbfe.shape)

(50000, 52)

In [15]:
sbfe = sbfe.reset_index(drop = True)

In [16]:
sbfe["unique_id"] = sbfe.index + 1
sbfe["unique_id"].is_unique

True

In [18]:
sbfe.to_adls("Analytics/RnD Projects/Product RnD/Business/_ARMBS_Tickets/2023/AIR_937/sbfe_sample_for_DS_wperf.parquet", overwrite = True)

In [ ]:
# sbfe.to_adls("Analytics/RnD Projects/Product RnD/Business/_ARMBS_Tickets/2023/AIR_937/sbfe_sample_for_DS_wperf.parquet")

In [32]:
freq("ArchiveDate", df = sbfe[sbfe.duplicated(subset = "seleid")])

             Count       Pct  Cuml Count  Cuml Pct
ArchiveDate
201803         2.0  0.052632         2.0  0.052632
201804         1.0  0.026316         3.0  0.078947
201810         2.0  0.052632         5.0  0.131579
201812         1.0  0.026316         6.0  0.157895
201904         1.0  0.026316         7.0  0.184211
202101         3.0  0.078947        10.0  0.263158
202102         6.0  0.157895        16.0  0.421053
202103         4.0  0.105263        20.0  0.526316
202105         3.0  0.078947        23.0  0.605263
202106         1.0  0.026316        24.0  0.631579
202107         1.0  0.026316        25.0  0.657895
202108         1.0  0.026316        26.0  0.684211
202109         2.0  0.052632        28.0  0.736842
202110         2.0  0.052632        30.0  0.789474
202111         4.0  0.105263        34.0  0.894737
202112         4.0  0.105263        38.0  1.000000

In [34]:
keep = ['unique_id', 
'BusinessName', 'AlternateBusinessName', 'BusinessStreetAddress', 'BusinessCity', 'BusinessState', 'BusinessZipcode', 'BusinessPhone','BusinessTIN', 
'RepFirstName', 'RepLastName', 'RepStreetAddress', 'RepCity', 'RepState', 'RepZipcode', 'RepSSN', 'RepDOB', 'RepEmail', 'RepPhone',
'ArchiveDate', 'powid', 'proxid', 'seleid', 'orgid', 'ultid', ]
sbfe = sbfe[keep]

In [35]:
sbfe = sbfe.rename(columns = {
    'unique_id' : "Accountnumber", 
    'BusinessName' : "CompanyName", 
    'AlternateBusinessName' : "AlternateCompanyName", 
    'BusinessStreetAddress' : "Addr", 
    'BusinessCity' : "City", 
    'BusinessState' : "State", 
    'BusinessZipcode' : 'Zip', 
    'BusinessPhone': 'BusinessPhone',
    'BusinessTIN' : 'TaxIdNumber', 
    'RepFirstName' : 'RepresentativeFirstName', 
    'RepLastName' : 'RepresentativeLastName', 
    'RepStreetAddress': 'RepresentativeAddr', 
    'RepCity' : "RepresentativeCity", 
    'RepState' : 'RepresentativeState', 
    'RepZipcode' : 'RepresentativeZip', 
    'RepSSN' : 'RepresentativeSSN', 
    'RepDOB': 'RepresentativeDOB', 
    'RepEmail' : 'RepresentativeEmailAddress', 
    'RepPhone' : 'RepresentativeHomePhone',
    'ArchiveDate' : 'HistoryDate', 
    'powid' : "PowID", 
    'proxid': "ProxID", 
    'seleid': "SeleID", 
    'orgid': "OrgID", 
    'ultid': "UltID", 
})

In [36]:
sbfe.loc[:, "BusinessIPAddress"] = None
sbfe.loc[:, "RepresentativeMiddleName"] = None
sbfe.loc[:, "RepresentativeNameSuffix"] = None
sbfe.loc[:, "RepresentativeAge"] = None
sbfe.loc[:, "RepresentativeDLNumber"] = None
sbfe.loc[:, "RepresentativeDLState"] = None
sbfe.loc[:, "RepresentativeFormerLastName"] = None
sbfe.loc[:, "SIC_Code"] = None
sbfe.loc[:, "NAIC_Code"] = None

In [37]:
order = ['Accountnumber', 'CompanyName', 'AlternateCompanyName', 'Addr', 'City', 'State', 'Zip', 'BusinessPhone', 'TaxIdNumber', 
'BusinessIPAddress', 'RepresentativeFirstName', 'RepresentativeMiddleName', 'RepresentativeLastName', 'RepresentativeNameSuffix', 
'RepresentativeAddr', 'RepresentativeCity', 'RepresentativeState', 'RepresentativeZip', 'RepresentativeSSN', 'RepresentativeDOB', 
'RepresentativeAge', 'RepresentativeDLNumber', 'RepresentativeDLState', 'RepresentativeHomePhone', 'RepresentativeEmailAddress', 'RepresentativeFormerLastName', 
'HistoryDate', 'PowID', 'ProxID', 'SeleID', 'OrgID', 'UltID', 'SIC_Code', 'NAIC_Code', ]
sbfe = sbfe[order]

In [38]:
sbfe.to_adls("Analytics/RnD Projects/Product RnD/Business/_ARMBS_Tickets/2023/AIR_937/sbfe_sample_for_ECL.csv", index = False, overwrite = True)

In [39]:
scout = pd.read_adls("Analytics/Personal Folders/liuwei01/daily_monitoring_sample_202301.csv", reader = pd.read_csv, dtype = str)
print(scout.shape)

(50000, 34)

In [40]:
final_sample = pd.concat([sbfe, scout], ignore_index = True)
print(final_sample.shape)

(100000, 34)

In [41]:
final_sample.to_adls("Analytics/RnD Projects/Product RnD/Business/_ARMBS_Tickets/2023/AIR_937/full_sample_for_ECL_100k.csv", 
                     index = False, overwrite = True)

In [43]:
final_sample.Accountnumber.is_unique

True