In [1]:
import time
import pandas as pd
import numpy as np
import math

# internal tools
from dsgtools.reporting import make_format
from dsgtools.reporting import TableWriter
from dsgtools.reporting import freq
from dsgtools.reporting import bivariate
from dsgtools import azure

In [2]:
path = "Analytics/Customer Projects/RND_multiple_clint_rv6_attr_rerun - proj 12092 (RV 6.0)/Processing/ln_12092_cons1_input_riskview_v6_normal_total.csv"
data = pd.read_adls(path, reader = pd.read_csv, encoding='iso-8859-1', verbose = False, low_memory = False,)
print(data.shape)
bpl = pd.read_adls("Analytics/Customer Projects/Big Picture Loans - proj 11658 (FI, RV 6)/Processing/20231127/bpl_11658_rv60_attribs_retro.csv.gz", compression = "gzip",
                   reader = pd.read_csv, encoding = "iso-8859-1", verbose = False, low_memory = False,)
print(bpl.shape)
bpl["acctno"] = bpl.index
print([x for x in data.columns if x not in bpl.columns])
print([x for x in bpl.columns if x not in data.columns])
data = pd.concat([data, bpl], ignore_index=True)
print(data.shape)

(179684, 507)
(32011, 535)
['p_inpaddrcityflag']
['Unnamed: 0', 'transaction_id', 'company_id', 'date_added', 'dl_mask', 'exclude_dmv_pii', 'scout_opt_out', 'archive_opt_in', 'response_time', 'data_restriction_mask', 'data_permission_mask', 'i_ssn', 'i_name_first', 'i_name_last', 'i_address', 'i_city', 'i_state', 'i_zip', 'glb', 'dppa', 'i_dob', 'i_home_phone', 'year', 'month', 'day', 'IPAddress', 'Email', 'p_inpaddrcityflag_x', 'p_inpaddrcityflag_y']
(211695, 536)

In [3]:
prod_path = "Analytics/Customer Projects/RND_multiple_clint_rv6_attr_rerun - proj 12092 (RV 6.0)/File from the Customer/prod_oct_2023.parquet"
data_prod = pd.read_adls(prod_path)
print(data_prod.shape)
bpl = pd.read_adls("Analytics/Customer Projects/ACM Jira Tickets/ancuma_821_bpl__rv6attr/df_prod.parquet")
print(bpl.shape)
bpl.transaction_id = bpl.index
print([x for x in data_prod.columns if x not in bpl.columns])
print([x for x in bpl.columns if x not in data_prod.columns])
data_prod = pd.concat([data_prod, bpl], ignore_index=True)
print(data_prod.shape)

(179684, 402)
(32011, 403)
['industry', 'i_dl', 'ymd']
['date_format(date_added, yyyy-MM-dd)', 'date_added_ymd', 'date_added_ym', 'date_added_y']
(211695, 406)

In [124]:
freq(data_prod.date_added.astype(str).str.slice(0, 7))

               Count       Pct  Cuml Count  Cuml Pct
date_added
2023-08       3891.0  0.018631      3891.0  0.018631
2023-09      11109.0  0.053194     15000.0  0.071825
2023-10     188482.0  0.902514    203482.0  0.974339
2023-11       5359.0  0.025661    208841.0  1.000000

In [30]:
data_prod.columns[:50]

Index(['transaction_id', 'company_id', 'login_id', 'product_id',
       'function_name', 'esp_method', 'delivery_method', 'date_added',
       'dl_mask', 'exclude_dmv_pii', 'scout_opt_out', 'archive_opt_in',
       'response_time', 'data_restriction_mask', 'data_permission_mask',
       'industry', 'i_ssn', 'i_name_first', 'i_name_last', 'i_lexid',
       'i_address', 'i_city', 'i_state', 'i_zip', 'i_dl', 'i_attributes_name',
       'o_lexid', 'glb', 'dppa', 'i_dob', 'i_home_phone', 'year', 'month',
       'day', 'tbl_refreshed_date_UTC', 'ymd', 'Email', 'IPAddress',
       'p_inpaddrcityflag', 'p_inpaddrstateflag', 'p_inpaddrstflag',
       'p_inpaddrzipflag', 'p_inpdlflag', 'p_inpdlstateflag', 'p_inpdobflag',
       'p_inplexidflag', 'p_inpnamefirstflag', 'p_inpnamelastflag',
       'p_inpphonehomeflag', 'p_inpssnflag'],
      dtype='object')

In [6]:
freq(data_prod.company_id)

               Count       Pct  Cuml Count  Cuml Pct
company_id
107571       43516.0  0.205560     43516.0  0.205560
107671       27572.0  0.130244     71088.0  0.335804
107891       32011.0  0.151213    103099.0  0.487017
108706      108596.0  0.512983    211695.0  1.000000

In [21]:
freq(data_prod.company_id, data_prod.data_permission_mask, cross = False, observed = True)

,,Count,Pct,Cuml Count,Cuml Pct
company_id,data_permission_mask,,,,
107671,1100000000000000000000000000000000000000000,27572.0,0.130244,27572.0,0.130244
108706,000000000100000000000000000000000000001000,108596.0,0.512983,136168.0,0.643227
107571,0000000001000000000000000000000000000000000,43516.0,0.205560,179684.0,0.848787
107891,1100000000000000000000000000000000000000000,32011.0,0.151213,211695.0,1.000000

In [19]:
freq(data_prod.company_id, data_prod.data_restriction_mask, cross = False, observed = True)

,,Count,Pct,Cuml Count,Cuml Pct
company_id,data_restriction_mask,,,,
107671,00001100010011000000000000000000000000000000000000,27572.0,0.130244,27572.0,0.130244
108706,0000010001001101,108596.0,0.512983,136168.0,0.643227
107571,00001100010011000000000000000000000000000,43516.0,0.205560,179684.0,0.848787
107891,00001100010011001000000010000000000000000000000000,32011.0,0.151213,211695.0,1.000000

In [4]:
## merged the data
keep = ["transaction_id", "date_added", "o_lexid"]
temp_prod = data_prod[keep]

keep =["acctno", "lexid"]
temp_retro = data[keep]
merged = temp_retro.merge(temp_prod, left_on = "acctno", right_on = "transaction_id")
print(merged.shape)

(211695, 5)

In [5]:
merged["lexid_change"] = np.where(merged.o_lexid == merged.lexid, 0, 1)
fmt = make_format(cuts = [-np.inf, 0, np.inf])
freq(merged.lexid_change, merged.o_lexid, merged.lexid, format = [None, fmt, fmt], cross = False, observed = True)

                                 Count       Pct  Cuml Count  Cuml Pct
lexid_change o_lexid lexid
0            1+      1+       208841.0  0.986518    208841.0  0.986518
1            <= 0    1+          428.0  0.002022    209269.0  0.988540
                     Missing    1629.0  0.007695    210898.0  0.996235
             1+      1+          505.0  0.002386    211403.0  0.998621
                     Missing     292.0  0.001379    211695.0  1.000000

In [80]:
merged[(merged.lexid_change == 1) & (merged.o_lexid<=0) & (merged.lexid.isnull())]

,acctno,lexid,transaction_id,date_added,o_lexid,lexid_change
51,436186501R97151,NaN,436186501R97151,2023-10-25 19:13:42,0,1
56,436186521R248785,NaN,436186521R248785,2023-10-28 23:55:41,0,1
220,436182181R842713,NaN,436182181R842713,2023-10-09 19:33:43,0,1
311,436182141R738027,NaN,436182141R738027,2023-10-06 22:35:41,0,1
422,436182251R653317,NaN,436182251R653317,2023-10-05 12:38:59,0,1
...,...,...,...,...,...,...
210665,30981,NaN,30981,2023-10-06 04:39:19,0,1
210966,31282,NaN,31282,2023-11-01 17:04:11,0,1
211211,31527,NaN,31527,2023-11-04 18:04:58,0,1
211515,31831,NaN,31831,2023-09-24 00:34:09,0,1
211560,31876,NaN,31876,2023-10-19 22:29:22,0,1

In [8]:
# temp = merged[merged.lexid_change == 0]
# print(temp.shape)
# data = data.merge(temp[["acctno", "transaction_id"]], on = "acctno")
data_prod = data_prod.merge(temp[["acctno", "transaction_id"]], on = "transaction_id")
print(data.shape)
print(data_prod.shape)

(208841, 537)
(208841, 407)

In [105]:
len([x for x in data.columns if "pl_" in x and x != "pl_fileaddrtype"])

310

In [18]:
col = [x for x in data.columns if "pl_" in x or "pi_" in x]
print(len(col))
not_in = ['PL_FileAddrTaxValYr', 'PL_FileAddrType', 'PL_DrgBkNewChType10Y', 'PL_DrgBkNewDispType10Y', 'PI_InpAddrTaxValYr', 'PI_InpAddrType']
not_in = [x.lower() for x in not_in]
data[[x for x in col if x not in not_in]] = data[[x for x in col if x not in not_in]].astype(float) 
data_prod[[x for x in col if x not in not_in]] = data_prod[[x for x in col if x not in not_in]].astype(float) 
col = col + ["acctno"]

340

In [19]:
from dsgtools.reporting import ImpactAnalysisReport
cr = ImpactAnalysisReport(data[col], data_prod[col], keys="acctno",
           exceptions= [-99_999, -99_998, -99_997],
           dataframe_names = ("retro", "prod"))
cr.to_xlsx("./_temp/riskview-comparison.xlsx", overwrite= True)

In [20]:
temp_prod = data_prod[data_prod.company_id == 107891]
print(temp_prod.shape)
from dsgtools.reporting import ImpactAnalysisReport
cr = ImpactAnalysisReport(data[col], temp_prod[col], keys="acctno",
           exceptions= [-99_999, -99_998, -99_997],
           dataframe_names = ("retro", "prod"))
cr.to_xlsx("./_temp/riskview-comparison_test.xlsx", overwrite= True)

(31772, 407)

In [41]:
samples = ['pl_srcoldmsncev', 'pl_inqcnt2y', "pl_inqcnt1m"]
temp_retro = data[samples + ['acctno', 'lexid']]
temp_prod = data_prod[samples + ['acctno', 'o_lexid', "company_id", "date_added"]]
merged = temp_retro.merge(temp_prod, on = "acctno")
print(merged.shape)

(208841, 11)

In [42]:
merged["flag"] = np.where(merged.lexid == merged.o_lexid, 0, 1)
freq(merged["flag"])

         Count  Pct  Cuml Count  Cuml Pct
flag
0     208841.0  1.0    208841.0       1.0

In [43]:
for x in samples:
    merged[x + "_diff"] = np.where((merged[x + "_x"] < 0) & (merged[x + "_y"] < 0), -999_999_999, np.where(
        (merged[x + "_x"] >= 0) & (merged[x + "_y"] < 0), -999_999_998, np.where(
            (merged[x + "_x"] < 0) & (merged[x + "_y"] >= 0), -999_999_997, merged[x+ "_x"] - merged[x + "_y"]
        )
    ))

In [44]:
temp = merged[merged["pl_inqcnt1m_diff"] >=2].head(25)
temp_2 = merged[merged["pl_inqcnt1m_diff"] >=2].tail(25)
pd.concat([temp, temp_2], ignore_index = True).to_csv("./_temp/example_for Kurtis_pl_inqcnt1m_diff_ge_2.csv", index = False)

In [45]:
pd.concat([temp, temp_2], ignore_index = True)

,pl_srcoldmsncev_x,pl_inqcnt2y_x,pl_inqcnt1m_x,acctno,lexid,pl_srcoldmsncev_y,pl_inqcnt2y_y,pl_inqcnt1m_y,o_lexid,company_id,date_added,flag,pl_srcoldmsncev_diff,pl_inqcnt2y_diff,pl_inqcnt1m_diff
0,50.0,25.0,2.0,436185801R398690,2.368264e+11,48.0,0.0,0.0,236826376871,108706,2023-10-20 17:59:43,0,2.0,25.0,2.0
1,301.0,23.0,2.0,436185821R193442,1.533377e+09,299.0,0.0,0.0,1533377188,108706,2023-10-16 22:05:53,0,2.0,23.0,2.0
2,233.0,15.0,2.0,436185821R291999,4.261070e+10,231.0,13.0,0.0,42610697954,107571,2023-10-18 19:24:43,0,2.0,2.0,2.0
3,235.0,25.0,3.0,4648493665R47174,4.381500e+10,233.0,0.0,0.0,43814997504,108706,2023-10-26 00:17:59,0,2.0,25.0,3.0
4,127.0,11.0,3.0,436182281R642105,1.904372e+11,125.0,0.0,0.0,190437189836,108706,2023-10-05 01:51:00,0,2.0,11.0,3.0
5,251.0,18.0,2.0,436182511R829096,1.238191e+10,249.0,0.0,0.0,12381907153,108706,2023-10-09 14:26:06,0,2.0,18.0,2.0
6,400.0,24.0,2.0,436182531R500413,2.004866e+08,398.0,0.0,0.0,200486572,108706,2023-10-02 16:49:46,0,2.0,24.0,2.0
7,205.0,5.0,5.0,436182541R976985,4.378787e+10,203.0,0.0,0.0,43787866340,108706,2023-10-12 04:51:20,0,2.0,5.0,5.0
8,456.0,7.0,2.0,436182161R607112,1.918570e+09,454.0,0.0,0.0,1918569591,108706,2023-10-04 15:42:26,0,2.0,7.0,2.0
9,58.0,13.0,4.0,436182551R612389,2.365405e+11,56.0,0.0,0.0,236540531613,108706,2023-10-04 17:15:24,0,2.0,13.0,4.0
10,178.0,7.0,2.0,436185681R476338,1.559965e+11,176.0,0.0,0.0,155996485594,108706,2023-10-21 21:09:28,0,2.0,7.0,2.0
11,241.0,6.0,3.0,436185691R184901,3.817944e+10,239.0,0.0,0.0,38179441629,108706,2023-10-16 17:28:11,0,2.0,6.0,3.0
12,335.0,8.0,2.0,436185701R190125,1.583839e+09,333.0,0.0,0.0,1583839152,108706,2023-10-16 18:27:25,0,2.0,8.0,2.0
13,17.0,6.0,2.0,436185801R233169,2.411276e+11,15.0,0.0,0.0,241127595649,108706,2023-10-17 18:23:18,0,2.0,6.0,2.0
14,159.0,8.0,3.0,436182531R702628,1.616277e+11,157.0,0.0,0.0,161627730359,108706,2023-10-06 11:03:24,0,2.0,8.0,3.0
15,316.0,16.0,3.0,436182551R704752,3.141539e+08,314.0,0.0,0.0,314153861,108706,2023-10-06 12:24:23,0,2.0,16.0,3.0
16,473.0,2.0,2.0,436182461R718833,1.089733e+09,471.0,0.0,0.0,1089733309,108706,2023-10-06 17:37:48,0,2.0,2.0,2.0
17,301.0,4.0,2.0,436182211R753114,6.072309e+08,299.0,0.0,0.0,607230852,108706,2023-10-07 13:00:56,0,2.0,4.0,2.0
18,161.0,2.0,2.0,436182231R757332,1.451174e+11,159.0,0.0,0.0,145117353233,108706,2023-10-07 14:37:15,0,2.0,2.0,2.0
19,18.0,4.0,2.0,436182541R774070,2.404494e+11,16.0,0.0,0.0,240449430019,108706,2023-10-07 19:09:36,0,2.0,4.0,2.0
20,411.0,15.0,2.0,436182511R802679,1.292593e+09,409.0,0.0,0.0,1292592926,108706,2023-10-08 17:17:25,0,2.0,15.0,2.0
21,339.0,7.0,2.0,436182161R889628,9.608866e+08,337.0,0.0,0.0,960886636,108706,2023-10-10 18:26:52,0,2.0,7.0,2.0
22,282.0,4.0,3.0,436182541R890950,8.804279e+07,280.0,0.0,0.0,88042788,108706,2023-10-10 18:35:59,0,2.0,4.0,3.0
23,33.0,12.0,4.0,436182231R895305,2.365418e+11,31.0,0.0,0.0,236541782211,108706,2023-10-10 20:08:53,0,2.0,12.0,4.0
24,181.0,3.0,2.0,436182541R920361,1.539437e+11,179.0,0.0,0.0,153943687452,108706,2023-10-11 06:34:54,0,2.0,3.0,2.0
25,322.0,12.0,4.0,31417,1.364402e+09,320.0,8.0,0.0,1364402243,107891,2023-09-20 20:40:13,0,2.0,4.0,4.0
26,286.0,16.0,2.0,31420,5.562050e+08,282.0,0.0,0.0,556204975,107891,2023-09-05 18:25:48,0,4.0,16.0,2.0
27,278.0,9.0,2.0,31424,2.051190e+09,274.0,7.0,0.0,2051190106,107891,2023-09-16 00:57:30,0,4.0,2.0,2.0
28,285.0,6.0,3.0,31451,2.173444e+09,282.0,3.0,1.0,2173444445,107891,2023-08-31 21:38:22,0,3.0,3.0,2.0
29,412.0,11.0,2.0,31463,1.831620e+08,410.0,9.0,0.0,183162014,107891,2023-09-26 16:15:35,0,2.0,2.0,2.0
30,594.0,5.0,3.0,31499,1.925763e+08,591.0,2.0,0.0,192576279,107891,2023-08-31 19:29:26,0,3.0,3.0,3.0
31,492.0,11.0,3.0,31570,2.739469e+09,488.0,8.0,0.0,2739468779,107891,2023-09-12 22:38:35,0,4.0,3.0,3.0
32,260.0,16.0,3.0,31588,8.616675e+08,258.0,13.0,0.0,861667478,107891,2023-10-11 19:35:35,0,2.0,3.0,3.0
33,179.0,12.0,2.0,31617,1.557247e+11,175.0,10.0,0.0,155724728607,107891,2023-09-02 02:24:53,0,4.0,2.0,2.0
34,269.0,9.0,2.0,31695,2.542159e+09,265.0,7.0,0.0,2542158994,107891,2023-09-14 00:26:48,0,4.0,2.0,2.0
35,355.0,3.0,2.0,31737,2.129871e+09,353.0,1.0,0.0,2129871084,107891,2023-10-07 21:24:46,0,2.0,2.0,2.0
36,370.0,22.0,3.0,31748,1.879935e+08,368.0,0.0,0.0,187993475,107891,2023-09-24 22:59:09,0,2.0,22.0,3.0
37,454.0,28.0,2.0,31751,2.044206e+09,451.0,26.0,0.0,2044205625,107891,2023-08-28 14:13:25,0,3.0,2.0,2.0
38,112.0,7.0,2.0,31761,1.913236e+11,108.0,5.0,0.0,191323563862,107891,2023-09-06 15:33:58,0,4.0,2.0,2.0
39,169.0,17.0,4.0,31781,1.656299e+11,165.0,14.0,2.0,165629943033,107891,2023-09-04 06:27:20,0,4.0,3.0,2.0
40,135.0,9.0,3.0,31798,1.899051e+11,133.0,6.0,0.0,189905105640,107891,2023-10-13 14:17:03,0,2.0,3.0,3.0
41,7.0,8.0,4.0,31823,2.404895e+11,4.0,4.0,0.0,240489544480,107891,2023-08-26 20:42:27,0,3.0,4.0,4.0
42,317.0,8.0,2.0,31845,1.677745e+09,313.0,6.0,0.0,1677744592,107891,2023-09-06 21:13:47,0,4.0,2.0,2.0
43,354.0,29.0,2.0,31863,4.424848e+08,352.0,32.0,0.0,442484753,107891,2023-10-04 03:25:15,0,2.0,-3.0,2.0
44,454.0,16.0,3.0,31865,1.073082e+09,452.0,13.0,1.0,1073082128,107891,2023-09-21 16:33:22,0,2.0,3.0,2.0
45,159.0,11.0,3.0,31878,1.684400e+11,155.0,9.0,1.0,168439976560,107891,2023-09-01 06:10:43,0,4.0,2.0,2.0
46,372.0,31.0,3.0,31897,2.336747e+09,370.0,28.0,1.0,2336746906,107891,2023-10-03 21:16:04,0,2.0,3.0,2.0
47,264.0,37.0,2.0,31995,3.633996e+09,261.0,35.0,0.0,3633996463,107891,2023-08-26 02:15:39,0,3.0,2.0,2.0
48,246.0,10.0,2.0,32002,3.256936e+10,244.0,8.0,0.0,32569363330,107891,2023-09-28 10:43:45,0,2.0,2.0,2.0
49,229.0,12.0,4.0,32006,5.347978e+10,227.0,10.0,2.0,53479776976,107891,2023-10-10 15:05:45,0,2.0,2.0,2.0

In [35]:
fmt_2 = make_format(cuts = [-np.inf, -51, -21, -16, -11, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 10, 15, 20, 50, np.inf], exceptions = [-999_999_999, -999_999_998, -999_999_997])
freq('pl_inqcnt2y_diff', format = fmt_2, df = merged[merged.company_id == 108706 ])

                    Count       Pct  Cuml Count  Cuml Pct
pl_inqcnt2y_diff
<= -51                0.0  0.000000         0.0  0.000000
-50--21               0.0  0.000000         0.0  0.000000
-20--16               0.0  0.000000         0.0  0.000000
-15--11               0.0  0.000000         0.0  0.000000
-10--6                0.0  0.000000         0.0  0.000000
-5                    0.0  0.000000         0.0  0.000000
-4                    0.0  0.000000         0.0  0.000000
-3                    0.0  0.000000         0.0  0.000000
-2                    0.0  0.000000         0.0  0.000000
-1                    0.0  0.000000         0.0  0.000000
0                  3206.0  0.029959      3206.0  0.029959
1                  4140.0  0.038687      7346.0  0.068646
2                  5842.0  0.054591     13188.0  0.123237
3                  7175.0  0.067048     20363.0  0.190285
4                  8067.0  0.075383     28430.0  0.265669
5                  8350.0  0.078028     36780.0  0.343697
6-10              36138.0  0.337697     72918.0  0.681394
11-15             19364.0  0.180950     92282.0  0.862344
16-20              8152.0  0.076178    100434.0  0.938521
21-50              4963.0  0.046378    105397.0  0.984899
51+                  76.0  0.000710    105473.0  0.985609
-999999999            0.0  0.000000    105473.0  0.985609
-999999998            0.0  0.000000    105473.0  0.985609
-999999997            0.0  0.000000    105473.0  0.985609
Missing            1540.0  0.014391    107013.0  1.000000