In [1]:
import time
import pandas as pd
import numpy as np
import math

# internal tools
from dsgtools.reporting import make_format
from dsgtools.reporting import TableWriter
from dsgtools.reporting import freq
from dsgtools.reporting import bivariate
from dsgtools import azure

In [71]:
# usecols
keep = ['input_SeleID', 'ultid', 'orgid', 'output_SELEID', 'proxid', 'powid', 'acctno', 'SLBO1809_1_0', 'B2BCnt2Y', 'B2BOldMsnc2Y', 'B2BNewMsnc2Y', 'B2BActvCnt', 'B2BActvCntGrow1Y', 
        'B2BActvWorstPerfIndx', 'B2BWorstPerfIndx2Y', 'B2BCarrWorstPerfIndx2Y', 'B2BFltWorstPerfIndx2Y', 'B2BMatWorstPerfIndx2Y', 'B2BOpsWorstPerfIndx2Y', 'B2BOthWorstPerfIndx2Y', 
        'B2BWorstPerfMsnc2Y', 'B2BCarrWorstPerfMsnc2Y', 'B2BFltWorstPerfMsnc2Y', 'B2BMatWorstPerfMsnc2Y', 'B2BOpsWorstPerfMsnc2Y', 'B2BOthWorstPerfMsnc2Y', 
        'LexIDBusinessChangeFlag', 'LexIDBusinessChangeCode']

In [72]:
april = pd.read_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/LN_Output_AEGC20230402.txt", reader = pd.read_csv,
                     encoding = "iso-8859-1", verbose = False, low_memory = False,
                     delimiter = "|", header=0, names = header, usecols = keep
                     )
print(april.shape)

In [ ]:
may = pd.read_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/LN_Output_AEGC20230502.txt", reader = pd.read_csv,
                     encoding = "iso-8859-1", verbose = False, low_memory = False,
                     delimiter = "|", header=0, names = header, usecols = keep)
print(may.shape)

(3080149, 28)

In [ ]:
april.to_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/to_parquet/LN_Output_AEGC20230402.parquet")
may.to_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/to_parquet/LN_Output_AEGC20230502.parquet")

In [2]:
april = pd.read_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/to_parquet/LN_Output_AEGC20230402.parquet")
may = pd.read_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/to_parquet/LN_Output_AEGC20230502.parquet")
print(april.shape)
print(may.shape)

(3015029, 28)
(3080149, 28)

In [ ]:
fmt = make_format(cuts = [-np.inf, -1, 0, 1, 2, 3, 4, 5, 6, 12, 18, 24], exceptions = [-99999, -99998, -99997])
freq(april.B2BWorstPerfMsnc2Y, format = fmt)

                        Count       Pct  Cuml Count  Cuml Pct
B2BWorstPerfMsnc2Y
<= -1                     0.0  0.000000         0.0  0.000000
0                     83940.0  0.027841     83940.0  0.027841
1                     38677.0  0.012828    122617.0  0.040669
2                     27836.0  0.009232    150453.0  0.049901
3                     25357.0  0.008410    175810.0  0.058311
4                     21025.0  0.006973    196835.0  0.065285
5                     18190.0  0.006033    215025.0  0.071318
6                     19419.0  0.006441    234444.0  0.077758
7-12                  88469.0  0.029343    322913.0  0.107101
13-18                 76532.0  0.025384    399445.0  0.132485
19-24                 51546.0  0.017096    450991.0  0.149581
-99999               261701.0  0.086799    712692.0  0.236380
-99998              2077426.0  0.689024   2790118.0  0.925403
-99997               224883.0  0.074587   3015001.0  0.999991
Missing                  28.0  0.000009   3015029.0  1.000000

In [ ]:
freq(may.B2BWorstPerfMsnc2Y, format = fmt)

                        Count       Pct  Cuml Count  Cuml Pct
B2BWorstPerfMsnc2Y
<= -1                     0.0  0.000000         0.0  0.000000
0                     98937.0  0.032121     98937.0  0.032121
1                     30101.0  0.009773    129038.0  0.041893
2                     26936.0  0.008745    155974.0  0.050638
3                     25186.0  0.008177    181160.0  0.058815
4                     20790.0  0.006750    201950.0  0.065565
5                     18142.0  0.005890    220092.0  0.071455
6                     19327.0  0.006275    239419.0  0.077730
7-12                  88307.0  0.028670    327726.0  0.106399
13-18                 76514.0  0.024841    404240.0  0.131240
19-24                 51620.0  0.016759    455860.0  0.147999
-99999               264945.0  0.086017    720805.0  0.234016
-99998              2131490.0  0.692009   2852295.0  0.926025
-99997               227822.0  0.073965   3080117.0  0.999990
Missing                  32.0  0.000010   3080149.0  1.000000

#### Analysis

In [ ]:
freq(april.LexIDBusinessChangeFlag)

                             Count       Pct  Cuml Count  Cuml Pct
LexIDBusinessChangeFlag
False                    3008905.0  0.997969   3008905.0  0.997969
True                        6096.0  0.002022   3015001.0  0.999991
Missing                       28.0  0.000009   3015029.0  1.000000

In [ ]:
fmt = make_format(cuts = [-np.inf, -1, 0, np.inf])
freq(april.LexIDBusinessChangeFlag, april.output_SELEID.astype(float), format = [None, fmt], cross = False, observed = True)

                                           Count       Pct  Cuml Count  \
LexIDBusinessChangeFlag output_SELEID
False                   1+             3008905.0  0.997969   3008905.0
True                    0                 6090.0  0.002020   3014995.0
                        1+                   6.0  0.000002   3015001.0
Missing                 Missing             28.0  0.000009   3015029.0

                                       Cuml Pct
LexIDBusinessChangeFlag output_SELEID
False                   1+             0.997969
True                    0              0.999989
                        1+             0.999991
Missing                 Missing        1.000000

In [ ]:
freq(may.LexIDBusinessChangeFlag)

                             Count       Pct  Cuml Count  Cuml Pct
LexIDBusinessChangeFlag
False                    3078730.0  0.999539   3078730.0  0.999539
True                        1387.0  0.000450   3080117.0  0.999990
Missing                       32.0  0.000010   3080149.0  1.000000

In [ ]:
freq(may.LexIDBusinessChangeFlag, may.output_SELEID.astype(float), format = [None, fmt], cross = False, observed = True)

,,Count,Pct,Cuml Count,Cuml Pct
LexIDBusinessChangeFlag,output_SELEID,,,,
False,1+,3078730.0,0.999539,3078730.0,0.999539
True,0,1387.0,0.000450,3080117.0,0.999990
Missing,Missing,32.0,0.000010,3080149.0,1.000000

In [3]:
april = april[april.output_SELEID >0]
may = may[may.output_SELEID >0]
print(april.shape)
print(may.shape)

(3008911, 28)
(3078730, 28)

In [4]:
april = april.drop_duplicates(subset="output_SELEID")
print(april.shape)
april.output_SELEID.is_unique

(2930046, 28)

True

In [5]:
may = may.drop_duplicates(subset="output_SELEID")
print(may.shape)
may.output_SELEID.is_unique

(2997684, 28)

True

In [8]:
may.columns = ["m_" + x for x in may.columns]
merged = april.merge(may, left_on = "output_SELEID", right_on = "m_output_SELEID")
print(merged.shape)

(2873724, 56)

In [9]:
diff_list = ['B2BCnt2Y', 'B2BOldMsnc2Y', 'B2BNewMsnc2Y', 'B2BActvCnt', 'B2BActvCntGrow1Y', 
        'B2BActvWorstPerfIndx', 'B2BWorstPerfIndx2Y', 'B2BCarrWorstPerfIndx2Y', 'B2BFltWorstPerfIndx2Y', 'B2BMatWorstPerfIndx2Y', 'B2BOpsWorstPerfIndx2Y', 'B2BOthWorstPerfIndx2Y', 
        'B2BWorstPerfMsnc2Y', 'B2BCarrWorstPerfMsnc2Y', 'B2BFltWorstPerfMsnc2Y', 'B2BMatWorstPerfMsnc2Y', 'B2BOpsWorstPerfMsnc2Y', 'B2BOthWorstPerfMsnc2Y', ]

for x in diff_list:
    merged[x + "_diff"] = np.where((merged[x] < 0) & (merged["m_" + x] < 0), -999_999_999, np.where(
        (merged[x] >= 0) & (merged["m_" + x] < 0), -999_999_998, np.where(
            (merged[x] < 0) & (merged["m_" + x] >= 0), -999_999_997, merged["m_" + x] - merged[x]
        )
    ))

In [11]:
merged.to_adls("Analytics/RnD Projects/Product RnD/Business/LexisNexis (AMEX B2B attributes)/to_parquet/merged_may_april.parquet", overwrite = True)

In [12]:
result = dict()
fmt = make_format(cuts = [-np.inf, -1, 0, 1, 2, 3, 4, 5, 10, np.inf], exceptions = [-99999])
fmt_2 = make_format(cuts = [-np.inf, -51, -21, -16, -11, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 10, 15, 20, 50, np.inf], exceptions = [-999_999_999, -999_999_998, -999_999_997])
fmt_3 = make_format(cuts = [-np.inf, -1, 0, 1, 2, 3, 4, 5, 6, 12, 18, 24], exceptions = [-99999, -99998, -99997])
result["f1"] = freq(merged.B2BCnt2Y, merged.m_B2BCnt2Y, format = [fmt, fmt], with_stats=False)
result["f2"] = freq(merged.B2BWorstPerfIndx2Y, merged.m_B2BWorstPerfIndx2Y, with_stats=False)
result["f3"] = freq(merged.B2BCarrWorstPerfIndx2Y, merged.m_B2BCarrWorstPerfIndx2Y, with_stats=False)
result["f4"] = freq(merged.B2BFltWorstPerfIndx2Y, merged.m_B2BFltWorstPerfIndx2Y, with_stats=False)
result["f5"] = freq(merged.B2BMatWorstPerfIndx2Y, merged.m_B2BMatWorstPerfIndx2Y, with_stats=False)
result["f6"] = freq(merged.B2BOpsWorstPerfIndx2Y, merged.m_B2BOpsWorstPerfIndx2Y, with_stats=False)
result["f7"] = freq(merged.B2BOthWorstPerfIndx2Y, merged.m_B2BOthWorstPerfIndx2Y, with_stats=False)
result["f7"] = freq(merged.B2BWorstPerfMsnc2Y, merged.m_B2BWorstPerfMsnc2Y, with_stats=False, format = [fmt_3, fmt_3])

result["f8"] = freq(merged.B2BCnt2Y_diff, format = fmt_2)
result["f9"] = freq(merged.B2BNewMsnc2Y_diff, format = fmt_2)
result["f10"] = freq(merged.B2BWorstPerfIndx2Y_diff,)
result["f11"] = freq(merged.B2BWorstPerfMsnc2Y_diff, format = fmt_2)

wb = TableWriter(filename = "./_temp/temp.xlsx", options={'nan_inf_to_errors': True}, overwrite = True)
for k in result.keys():
    wb.write_table(
        result[k],
        sheetname="freq",
    )
wb.close()

In [13]:
temp = merged[(merged['B2BWorstPerfMsnc2Y'] >=0) &(merged['m_B2BWorstPerfMsnc2Y'] >=0) & ((merged['m_B2BWorstPerfMsnc2Y'] - merged['B2BWorstPerfMsnc2Y'] > 1) | (merged['m_B2BWorstPerfMsnc2Y'] - merged['B2BWorstPerfMsnc2Y'] < 0))]
print(temp.shape)

(12697, 74)

In [15]:
freq('B2BWorstPerfIndx2Y_diff', df = temp)

                           Count       Pct  Cuml Count  Cuml Pct
B2BWorstPerfIndx2Y_diff
-3.0                         5.0  0.000394         5.0  0.000394
-2.0                        12.0  0.000945        17.0  0.001339
-1.0                        12.0  0.000945        29.0  0.002284
0.0                      11015.0  0.867528     11044.0  0.869812
1.0                       1215.0  0.095692     12259.0  0.965504
2.0                        292.0  0.022998     12551.0  0.988501
3.0                        146.0  0.011499     12697.0  1.000000

In [16]:
freq('B2BCnt2Y_diff', df=temp[temp.B2BWorstPerfIndx2Y_diff==0], format = fmt_2, observed = True)

                 Count       Pct  Cuml Count  Cuml Pct
B2BCnt2Y_diff
-1                 9.0  0.000817         9.0  0.000817
0              10115.0  0.918293     10124.0  0.919110
1                812.0  0.073718     10936.0  0.992828
2                 47.0  0.004267     10983.0  0.997095
3                 14.0  0.001271     10997.0  0.998366
4                  5.0  0.000454     11002.0  0.998820
5                  4.0  0.000363     11006.0  0.999183
6-10               5.0  0.000454     11011.0  0.999637
11-15              4.0  0.000363     11015.0  1.000000

In [20]:
merged["flag"] = np.where((merged.B2BWorstPerfMsnc2Y !=0) & (merged.m_B2BWorstPerfMsnc2Y ==0), 1, 0)
freq(merged["flag"])

          Count       Pct  Cuml Count  Cuml Pct
flag
0     2860352.0  0.995347   2860352.0  0.995347
1       13372.0  0.004653   2873724.0  1.000000

#### Header

In [ ]:
header = ['input_SeleID', 'Rep_1_LexID', 'Rep_2_LexID', 'Rep_3_LexID', 'ultid', 'orgid', 'output_SELEID', 'proxid', 'powid', 'acctno', 'SLBB1809_1_0', 'SLBB_rc1', 'SLBB_rc2', 
          'SLBB_rc3', 'SLBB_rc4', 'SLBO1809_1_0', 'SLBO_rc1', 'SLBO_rc2', 'SLBO_rc3', 'SLBO_rc4', 'InputCheckBusName', 'InputCheckBusAltName', 'InputCheckBusAddr', 'InputCheckBusCity', 
          'InputCheckBusState', 'InputCheckBusZip', 'InputCheckBusTIN', 'InputCheckBusPhone', 'InputCheckBusSIC', 'InputCheckBusNAICS', 'Filler1', 'InputCheckBusAge', 'Filler2', 
          'Filler3', 'InputCheckBusFax', 'InputCheckAuthRepFirstName', 'InputCheckAuthRepLastName', 'InputCheckAuthRepMiddleName', 'InputCheckAuthRepAddr', 'InputCheckAuthRepCity', 
          'InputCheckAuthRepState', 'InputCheckAuthRepZip', 'InputCheckAuthRepSSN', 'InputCheckAuthRepPhone', 'InputCheckAuthRepDOB', 'InputCheckAuthRepAge', 'Filler4', 
          'InputCheckAuthRepDL', 'InputCheckAuthRepDLState', 'InputCheckAuthRep2FirstName', 'InputCheckAuthRep2LastName', 'InputCheckAuthRep2MiddleName', 'InputCheckAuthRep2Addr', 
          'InputCheckAuthRep2City', 'InputCheckAuthRep2State', 'InputCheckAuthRep2Zip', 
'InputCheckAuthRep2SSN', 
'InputCheckAuthRep2Phone', 
'InputCheckAuthRep2DOB', 
'InputCheckAuthRep2Age', 
'Filler5', 
'InputCheckAuthRep2DL', 
'InputCheckAuthRep2DLState', 
'InputCheckAuthRep3FirstName', 
'InputCheckAuthRep3LastName', 
'InputCheckAuthRep3MiddleName', 
'InputCheckAuthRep3Addr', 
'InputCheckAuthRep3City', 
'InputCheckAuthRep3State', 
'InputCheckAuthRep3Zip', 
'InputCheckAuthRep3SSN', 
'InputCheckAuthRep3Phone', 
'InputCheckAuthRep3DOB', 
'InputCheckAuthRep3Age', 
'Filler6', 
'InputCheckAuthRep3DL', 
'InputCheckAuthRep3DLState', 
'VerificationBusInputName', 
'VerificationBusInputAddr', 
'VerificationBusInputPhone', 
'VerificationBusInputTIN', 
'VerificationBusInputIndustry', 
'BusinessRecordTimeOldest', 
'BusinessRecordTimeNewest', 
'BusinessRecordUpdated12M', 
'BusinessActivity03M', 
'BusinessActivity06M', 
'BusinessActivity12M', 
'BusinessAddrCount', 
'FirmAgeObserved', 
'OutBestSIC', 
'OutBestNAICS', 
'FirmEmployeeCount', 
'FirmReportedSales', 
'FirmReportedEarnings', 
'FirmIRSRetirementPlan', 
'FirmNonProfit', 
'OrgLocationCount', 
'OrgRelatedCount', 
'FirmParentCompanyInd', 
'OrgLegalEntityCount', 
'OrgAddrLegalEntityCount', 
'OrgSingleLocation', 
'SOSIncorporationTimeOldest', 
'SOSTimeAgentChange', 
'SOSStandingDefunct', 
'SOSStateCount', 
'SOSForeignStateFlag', 
'BankruptcyCount', 
'BankruptcyCount12M', 
'BankruptcyCount24M', 
'BankruptcyChapter', 
'BankruptcyTimeNewest', 
'LienCount', 
'LienCount12M', 
'LienCount24M', 
'LienNewestType', 
'LienTimeNewest', 
'LienTimeOldest', 
'LienTotalAmount', 
'JudgmentCount', 
'JudgmentCount12M', 
'JudgmentCount24M', 
'JudgmentNewestType', 
'JudgmentTimeNewest', 
'JudgmentTimeOldest', 
'JudgmentTotalAmount', 
'LienJudgmentDollarTotal', 
'AssetPropCountEver', 
'AssetPropStateCountCurrent', 
'AssetPropLotSizeTotalEver', 
'AssetPropAssessedTotalEver', 
'AssetPropSqFootageTotalEver', 
'AssetAircraftCount', 
'AssetWatercraftCount', 
'UCCCount', 
'UCCTimeNewest', 
'UCCTimeOldest', 
'GovernmentDebarred', 
'InquiryHighRiskCount12M', 
'InquiryHighRiskCount03M', 
'InquiryCreditCount12M', 
'InquiryCreditCount03M', 
'InquiryCount12M', 
'InquiryCount03M', 
'InquiryConsumerAddress', 
'InquiryConsumerPhone', 
'InquiryConsumerAddressSSN', 
'BusExecLinkAuthRepLexID', 
'BusExecLinkRepNameOnFile', 
'BusExecLinkRepAddrOnFile', 
'BusExecLinkRepSSNOnFile', 
'BusExecLinkRepPhoneOnFile', 
'BusExecLinkBusNameRepFirst', 
'BusExecLinkBusNameRepLast', 
'BusExecLinkBusNameRepFull', 
'BusExecLinkRepSSNBusTIN', 
'BusExecLinkPropOverlapCount', 
'BusExecLinkRepAddrBusAddr', 
'BusExecLinkUtilOverlapCount', 
'BusExecLinkInqOverlapCount', 
'BusExecLinkBusAddrRepOwned', 
'BusExecLinkRepPhoneBusPhone', 
'BusExecLinkAuthRep2LexID ', 
'BusExecLinkRep2NameOnFile', 
'BusExecLinkRep2AddrOnFile', 
'BusExecLinkRep2PhoneOnFile', 
'BusExecLinkRep2SSNOnFile', 
'BusExecLinkBusNameRep2First', 
'BusExecLinkBusNameRep2Last', 
'BusExecLinkBusNameRep2Full', 
'BusExecLinkRep2SSNBusTIN', 
'BusExecLinkPropOverlapCount2', 
'BusExecLinkBusAddrRep2Owned', 
'BusExecLinkUtilOverlapCount2', 
'BusExecLinkInqOverlapCount2', 
'BusExecLinkRep2AddrBusAddr', 
'BusExecLinkRep2PhoneBusPhone', 
'BusExecLinkAuthRep3LexID ', 
'BusExecLinkRep3NameOnFile', 
'BusExecLinkRep3AddrOnFile', 
'BusExecLinkRep3PhoneOnFile', 
'BusExecLinkRep3SSNOnFile', 
'BusExecLinkBusNameRep3First', 
'BusExecLinkBusNameRep3Last', 
'BusExecLinkBusNameRep3Full', 
'BusExecLinkRep3SSNBusTIN', 
'BusExecLinkPropOverlapCount3', 
'BusExecLinkBusAddrRep3Owned', 
'BusExecLinkUtilOverlapCount3', 
'BusExecLinkInqOverlapCount3', 
'BusExecLinkRep3AddrBusAddr', 
'BusExecLinkRep3PhoneBusPhone', 
'BusTINPersonOverlap', 
'BusTINPersonAddrOverlap', 
'BusTINPersonPhoneOverlap', 
'BusAddrPersonNameOverlap', 
'InputAddrConsumerCount', 
'InputAddrSourceCount', 
'InputAddrType', 
'InputAddrOwnership', 
'InputAddrLotSize', 
'InputAddrAssessedTotal', 
'InputAddrBuildingSize', 
'InputPhoneProblems', 
'InputPhoneEntityCount', 
'InputPhoneType', 
'AssociateCount', 
'AssociateBankruptCount', 
'AssociateCountWithBankruptcy', 
'AssociateBankrupt12MCount', 
'AssociateLienCount', 
'AssociateCountWithLien', 
'AssociateJudgmentCount', 
'AssociateCountWithJudgment', 
'AssociateHighRiskAddrCount', 
'AssociateWatchlistCount', 
'AssociateBusinessCount', 
'AssociateCityCount', 
'AssociateCountyCount', 
'OutBestBusName', 
'OutBestBusStreetAddr', 
'OutBestBusCity', 
'OutBestBusState', 
'OutBestBusZip', 
'OutBestBusTIN', 
'OutBestBusPhone', 
'FirmEmployeeRangeCount', 
'FirmOwnershipType', 
'FirmReportedSalesRange', 
'SOSIncorporationFilingsCount', 
'SOSStandingBest', 
'BankruptcyCount84M', 
'LienCount03M', 
'LienCount36M', 
'LienFedTaxCount', 
'LienFedTaxTotalAmount', 
'LienForeclosureCount', 
'LienForeclosureTotalAmount', 
'LienTenantCount', 
'LienTenantTotalAmount', 
'LienMechanicsCount', 
'LienMechanicsTotalAmount', 
'LienOtherCount', 
'LienOtherTotalAmount', 
'JudgmentCount03M', 
'JudgmentCount36M', 
'JudgmentCivilCourtCount', 
'JudgmentCivilCourtTotalAmount', 
'JudgmentSmallClaimsCount', 
'JudgmentSmallClaimsTotalAmount', 
'JudgmentSuitsCount', 
'JudgmentsSuitsTotalAmount', 
'JudgmentsOtherCount', 
'JudgmentOtherTotalAmount', 
'AssetPropCountCurrent', 
'AssetPropLotSizeTotalCurrent', 
'AssetPropSqFootageTotalCurrent', 
'AssetPropAssessedTotalCurrent', 
'UCCActiveCount', 
'UCCRoles', 
'UCCRolesActive', 
'InquiryOtherCount03M', 
'InquiryOtherCount12M', 
'InputTINEntityCount', 
'InputBusAddrCurrentCount', 
'InputAddrTINCount', 
'InputBusNameOtherBusNameMatch', 
'InputAddrZipMismatch', 
'InputAddrVacancy', 
'InputAddrTimeOldest', 
'InputPhoneResidential', 
'InputTINBIIMismatch', 
'InputTINHitIndex', 
'AssociateCurrCount', 
'AssociateCurrCountWithFelony', 
'AssociateCurrCountWithBkrpt', 
'AssociateCurrCountWithLien', 
'AssociateCurrCountWithJudgment', 
'AssociateCurrCountWithProp', 
'AssociateCurrBusinessesTotal', 
'AssociateCurrSOSCount', 
'B2BCnt2Y', 
'B2BCarrCnt2Y', 
'B2BFltCnt2Y', 
'B2BMatCnt2Y', 
'B2BOpsCnt2Y', 
'B2BOthCnt2Y', 
'B2BCarrPct2Y', 
'B2BFltPct2Y', 
'B2BMatPct2Y', 
'B2BOpsPct2Y', 
'B2BOthPct2Y', 
'B2BOldMsnc2Y', 
'B2BNewMsnc2Y', 
'B2BActvCnt', 
'B2BActvCarrCnt', 
'B2BActvFltCnt', 
'B2BActvMatCnt', 
'B2BActvOpsCnt', 
'B2BActvOthCnt', 
'B2BActvCarrPct', 
'B2BActvFltPct', 
'B2BActvMatPct', 
'B2BActvOpsPct', 
'B2BActvOthPct', 
'B2BActvCntGrow1Y', 
'B2BActvCarrCntGrow1Y', 
'B2BActvFltCntGrow1Y', 
'B2BActvMatCntGrow1Y', 
'B2BActvOpsCntGrow1Y', 
'B2BActvOthCntGrow1Y', 
'B2BActvBalTot', 
'B2BActvCarrBalTot', 
'B2BActvFltBalTot', 
'B2BActvMatBalTot', 
'B2BActvOpsBalTot', 
'B2BActvOthBalTot', 
'B2BActvCarrBalTotPct', 
'B2BActvFltBalPct', 
'B2BActvMatBalPct', 
'B2BActvOpsBalPct', 
'B2BActvOthBalPct', 
'B2BActvBalTotRnge', 
'B2BActvCarrBalTotRnge', 
'B2BActvFltBalTotRnge', 
'B2BActvMatBalTotRnge', 
'B2BActvOpsBalTotRnge', 
'B2BActvOthBalTotRnge', 
'B2BActvBalAvg', 
'B2BActvCarrBalAvg', 
'B2BActvFltBalAvg', 
'B2BActvMatBalAvg', 
'B2BActvOpsBalAvg', 
'B2BActvOthBalAvg', 
'B2BActvBalTotGrow1Y', 
'B2BActvCarrBalTotGrow1Y', 
'B2BActvFltBalTotGrow1Y', 
'B2BActvMatBalTotGrow1Y', 
'B2BActvOpsBalTotGrow1Y', 
'B2BActvOthBalTotGrow1Y', 
'B2BActvBalTotGrowIndx1Y', 
'B2BActvCarrBalTotGrowIndx1Y', 
'B2BActvFltBalTotGrowIndx1Y', 
'B2BActvMatBalTotGrowIndx1Y', 
'B2BActvOpsBalTotGrowIndx1Y', 
'B2BActvOthBalTotGrowIndx1Y', 
'B2BBalMax2Y', 
'B2BCarrBalMax2Y', 
'B2BFltBalMax2Y', 
'B2BMatBalMax2Y', 
'B2BOpsBalMax2Y', 
'B2BOthBalMax2Y', 
'B2BBalMaxSegType2Y', 
'B2BBalMaxMsnc2Y', 
'B2BCarrBalMaxMsnc2Y', 
'B2BFltBalMaxMsnc2Y', 
'B2BMatBalMaxMsnc2Y', 
'B2BOpsBalMaxMsnc2Y', 
'B2BOthBalMaxMsnc2Y', 
'B2BActvWorstPerfIndx', 
'B2BActvCarrWorstPerfIndx', 
'B2BActvFltWorstPerfIndx', 
'B2BActvMatWorstPerfIndx', 
'B2BActvOpsWorstPerfIndx', 
'B2BActvOthWorstPerfIndx', 
'B2BWorstPerfIndx2Y', 
'B2BCarrWorstPerfIndx2Y', 
'B2BFltWorstPerfIndx2Y', 
'B2BMatWorstPerfIndx2Y', 
'B2BOpsWorstPerfIndx2Y', 
'B2BOthWorstPerfIndx2Y', 
'B2BWorstPerfMsnc2Y', 
'B2BCarrWorstPerfMsnc2Y', 
'B2BFltWorstPerfMsnc2Y', 
'B2BMatWorstPerfMsnc2Y', 
'B2BOpsWorstPerfMsnc2Y', 
'B2BOthWorstPerfMsnc2Y', 
'B2BActv1pDpdCnt', 
'B2BActv31pDpdCnt', 
'B2BActv61pDpdCnt', 
'B2BActv91pDpdCnt', 
'B2BActv1pDpdPct', 
'B2BActv31pDpdPct', 
'B2BActv61pDpdPct', 
'B2BActv91pDpdPct', 
'B2BActv1pDpdBalTot', 
'B2BActv31pDpdBalTot', 
'B2BActv61pDpdBalTot', 
'B2BActv91pDpdBalTot', 
'B2BActv1pDpdBalTotPct', 
'B2BActv31pDpdBalTotPct', 
'B2BActv61pDpdBalTotPct', 
'B2BActv91pDpdBalTotPct', 
'B2BActv1pDpdBalTotGrow1Y', 
'B2BActv31pDpdBalTotGrow1Y', 
'B2BActv61pDpdBalTotGrow1Y', 
'B2BActv91pDpdBalTotGrow1Y', 
'LexIDBusinessChangeFlag', 
'LexIDBusinessChangeCode', 
]